<%- include("../partials/header") %>

<div class="container text-center py-5">
    <div class="vertical-center">
        <h2 class="login-register-head">Create New CampGround</h2>
        <div class="add-camp-card text-center p-2">
                <form action="/campgrounds" method="POST">
                    <input class="form-control text-center my-2" type="text" name="name" placeholder="enter camp name"></input>
                    <input class="form-control text-center my-2" type="number" name="price" placeholder="enter camp price" min="0.01" step="0.01"></input>
                    <input class="form-control text-center my-2" type="text" name="image" placeholder="enter image url"></input>
                    <input class="form-control text-center my-2" type="text" name="description" placeholder="enter description"></input>
                    <button class="btn btn-md btn-danger btn-block my-2" type="submit">SUBMIT</button>
                </form>
                <a type="submit" class="anchor-link" href="/campgrounds">Go Back</a>
        </div>    
    </div>
</div>

<%- include("../partials/footer") %>